<div class="w-6/6 ml-[16.66%] min-h-full bg-gray-100">
  <!-- Sección "Contacto" -->
  <section
    class="flex flex-col md:flex-row justify-center items-center gap-8 p-6 min-h-screen bg-cover"
  >
    <section class="flex flex-col md:flex-row justify-between bg-white p-6 rounded-lg shadow-md w-full min-h-[850px] mx-auto my-auto">
      <!-- Sección: Envíame un mensaje -->
      <section id="contacto" class="w-full md:w-1/2 pr-6">
        <h2 class="text-4xl font-medium text-black mb-4 flex items-center">
          <span class="mr-2">
            <img src="../../public/icono_mensaje_contacto.png" alt="Mensaje" class="w-9 h-9 object-cover">
          </span> Envíame un mensaje
        </h2>
        <div class="w-28 border-b-4 border-blue-500 mb-12"></div>
        <form class="space-y-12">
          <!-- Campo: Nombre -->
          <input
            type="text"
            placeholder="Tu nombre"
            class="w-full p-3 border border-gray-300 text-lg rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            required
          />

          <!-- Campo: Correo -->
          <input
            type="email"
            placeholder="Tu correo"
            class="w-full p-3 border border-gray-300 text-lg rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            required
          />

          <!-- Campo: Asunto -->
          <input
            type="text"
            placeholder="Asunto"
            class="w-full p-3 border border-gray-300 text-lg rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
            required
          />

          <!-- Campo: Mensaje -->
          <textarea
            placeholder="Mensaje"
            rows="7"
            class="w-full p-3 border border-gray-300 text-lg rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-"
            required>
          </textarea>

          <!-- Botón de Enviar -->
          <button
            type="submit"
            class="w-72 bg-blue-600 text-white py-6 text-xl rounded-full hover:bg-blue-700 transition"
          >
            Enviar Mensaje
          </button>
        </form>
      </section>

      <!-- Sección: Contacto -->
      <section class="w-full md:w-1/2 pl-6 flex flex-col items-start">
        <h2 class="text-4xl font-medium text-black mb-4 flex items-center">
          <span class="mr-2">
            <img src="../../public/icono_contacto.png" alt="Mensaje" class="w-9 h-9 object-cover">
          </span> Contacto
        </h2>
        <div class="w-28 border-b-4 border-blue-500 mb-12"></div>
        <p class="mb-4 text-gray-500 text-2xl">
          Si necesitas ayuda en algún proyecto, no dudes en ponerte en contacto conmigo.
        </p>
        <ul class="space-y-8 text-gray-700">
          <!-- Dirección -->
          <li class="flex items-center mt-8">
            <span class="mr-4">
              <img src="../../public/localizacion.png" alt="Localización" class="w-6 h-6">
            </span>
            Avenida de la Cruz del Campo, 7
          </li>
          <!-- Ciudad -->
          <li class="flex items-center">
            <span class="mr-4">
              <img src="../../public/mapa.png" alt="Ciudad" class="w-6 h-6">
            </span>
            Sevilla, C. P. 41005
          </li>
          <!-- Teléfono -->
          <li class="flex items-center">
            <span class="mr-4">
              <img src="../../public/telefono.png" alt="Teléfono" class="w-6 h-6">
            </span>
            +34 622 017 956
          </li>
          <!-- Email -->
          <li class="flex items-center">
            <span class="mr-4">
              <img src="../../public/icono_mensaje_contacto.png" alt="Email" class="w-6 h-6 object-cover">
            </span>
            dcuevasgil@gmail.com
          </li>
        </ul>
        <!-- Iconos sociales -->
        <nav>
          <ul class="flex space-x-4 mt-8">
            <li>
              <a href="#" class="hover:opacity-75 transition">
                <img src="../../public/linkedin.png" alt="LinkedIn" class="w-h-12 h-12 object-cover">
              </a>
            </li>
            <li>
              <a href="#" class="hover:opacity-75 transition">
                <img src="../../public/github.png" alt="GitHub" class="w-h-12 h-12 object-cover">
              </a>
            </li>
            <li>
              <a href="#" class="hover:opacity-75 transition">
                <img src="../../public/instagram.png" alt="Instagram" class="w-h-12 h-12 object-cover">
              </a>
            </li>
            <li>
              <a href="#" class="hover:opacity-75 transition">
                <img src="../../public/x.png" alt="" class="w-12 h-12 object-cover">
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </section>
  </section>
</div>
